.container {
  height: 100%;
  min-height: max(100vh, 600px);
  width: 100vw;
  background-color: #293241;
  display: flex;
  flex-direction: column;
}
.title{
  flex: none;
  text-align: center;
  color: white;
}

.content{
  flex: 25;
}
.subtitle{
  color: white;
  margin-left: 10vw;
}
.openPositionsTable{
  border-collapse:collapse;
  margin: auto;
  background-color: #98c1d9;
}
.openPositionsTable tr{
  font-weight: 500;
}
.openPositionsTable th{
  background-color: #e0fbfc;
  text-align: left;
  width: 20vw;
}

.add{
  flex: 1;
}

.add a{
  float: right;
  font-weight: 700;
  margin-right: 2vw;
  background-color: #ee6c4d;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: black 5px 5px;
}